
.myCmpanyApp-item-box {
  width: 100%;
  padding-left: 20px;
  height: 130px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.myCmpanyApp-item-l {
  width: 80px;
  height: 80px;
  background: #f2f2f2;
  border-radius: 8px;
}
.x-add-icon{
  font-size: 50px;
  color: #ccc;
  text-align: center;
  width: 100%;
  line-height: 76px;
}
.myCmpanyApp-item-c {
  flex: 1;
  height: 100%;
  display: flex;
  margin-left: 20px;
  align-items: center;
  padding-right: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
.myCmpanyApp-item-c-box{
  flex: 1;
  overflow: hidden;
}
.x-title-box{
  padding-left: 0;
}
.x-title-box .title{
  margin-bottom: 10px;
}
.myCmpanyApp-item-box:last-child .x-border-1px-bottom{
  border-bottom: 0;
}